/* button */
a.PSPUSHBUTTON, a.PSPUSHBUTTON:hover, a.PSPUSHBUTTON:focus, a.PSPUSHBUTTON:active,
a.PSPUSHBUTTON *, a.PSPUSHBUTTON *:hover, a.PSPUSHBUTTON *:focus, a.PSPUSHBUTTON *:active {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a.PSPUSHBUTTON, .PSPUSHBUTTON#Left, .PSPUSHBUTTON.Left,
a.PSPUSHBUTTON:hover, .PSPUSHBUTTON#Left:hover, .PSPUSHBUTTON.Left:hover,
a.PSPUSHBUTTON:focus, .PSPUSHBUTTON#Left:focus, .PSPUSHBUTTON.Left:focus,
a.PSPUSHBUTTON:active, .PSPUSHBUTTON#Left:active, .PSPUSHBUTTON.Left:active {
    border: none !important;
    background: none !important;
    border-radius: 0;
    height: auto;
    padding: 0;
}

a.PSPUSHBUTTON span,
a.PSPUSHBUTTON span:hover,
a.PSPUSHBUTTON span:focus,
a.PSPUSHBUTTON span:active {
    border: none !important;
    background: none !important;
    border-radius: 0;
    height: auto;
    margin: 0;
    padding: 0;
}

a.PSPUSHBUTTON input {
    border: 1px solid var(--raspberry-highlight-color) !important;
    background: none !important;
    border-radius: 0;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--raspberry-highlight-color);
    line-height: 18px;
    transition: box-shadow 0.2s, color 0.2s;
}

a.PSPUSHBUTTON input:hover, a.PSPUSHBUTTON input:focus, a.PSPUSHBUTTON input:active {
    box-shadow: inset 0 20px 0 var(--raspberry-highlight-color);
    color: #fff;
}

/* select */
.PSDROPDOWNLIST {
    border: 1px solid #e5e5e5;
}

.PSDROPDOWNLIST:focus {
    border: 1px solid var(--raspberry-highlight-color);
}

select.PSERROR {
    border: 1px solid red;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
    background: #ffeff3;
}

/* input */
.PSEDITBOX {
    border: 1px solid #e5e5e5;
}

.PSEDITBOX:focus {
    border: 1px solid var(--raspberry-highlight-color);
}

input.PSERROR {
    border: 1px solid red;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
    background: #ffeff3;
}

/* raspberry buttons */
.raspberry-btn, .raspberry-btn:visited {
    display: inline-block;
    width: auto;
    height: 20px;
    margin: 0;
    padding: 0 20px;
    border: 1px solid var(--raspberry-highlight-color);
    font-size: 9pt;
    line-height: 18px;
    color: var(--raspberry-highlight-color);
    cursor: pointer;
    box-shadow: inset 0 0 0 transparent;
    transition: box-shadow 0.2s, color 0.2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
}

.raspberry-btn:hover, .raspberry-btn:focus {
    color: #fff;
    box-shadow: inset 0 20px 0 var(--raspberry-highlight-color);
}
