.ps_pagecontainer {
    padding-top: 50px;
}

.PSPAGECONTAINER {
    width: 100%;
    position: relative;
}

td {
    vertical-align: middle;
    padding: 0;
}

td:empty {
    display: none;
}

div[id="win0divPERSONAL_DTSAVW_EMPLIDlbl"],
div[id="win0divPERSONAL_DTSAVW_EMPLID"] {
    display: none;
}

table {
    width: 100%;
}

.PSLEVEL1GRIDWBO {
    border: 1px solid #e5e5e5;
}

.PABACKGROUNDINVISIBLEWBO font {
    font-size: 12px;
}

th.PSLEVEL1GRIDCOLUMNHDR {
    background: #2b2c36;
    color: #fff;
    padding: 10px 15px;
    border: none;
    vertical-align: middle;
    text-align: center;
}

a.PSLEVEL1GRIDCOLUMNHDR {
    display: block;
    background: none !important;
    color: #fff !important;
}

.PSLEVEL1GRIDODDROW, .PSLEVEL1GRIDEVENROW {
    padding: 10px 15px;
    border: none;
    text-align: center;
}

.PSLEVEL1GRIDODDROW .PSHYPERLINK, .PSLEVEL1GRIDEVENROW .PSHYPERLINK {
    color: #ff2b5a !important;
}