.PSPAGECONTAINER {
    width: 100%;
    position: relative;
}

td {
    vertical-align: middle;
    padding: 0;
}

td:empty {
    display: none;
}

table {
    width: 100%;
}

#ACE_DERIVED_REGFRM1_GROUP4 {
    width: auto;
}

.PSLEVEL1GRIDWBO {
    margin-bottom: 10px;
    border-bottom: none;
}

.PSLEVEL1GRIDWBO td, .PSLEVEL1GRIDWBO th {
    text-align: left;
}

.PSLEVEL1GRIDLABEL {
    font-size: 12px !important;
    font-family: 'Muli', sans-serif !important;
    background: #2b2c36;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.PSLEVEL1GRIDCOLUMNHDR {
    border: none;
    background: #f6f6f6;
    color: #000 !important;
    padding: 10px 15px;
}

a.PSLEVEL1GRIDCOLUMNHDR {
    padding: 0;
}

.PSLEVEL1GRIDODDROW, .PSLEVEL1GRIDEVENROW {
    padding: 10px 15px;
    border-left: none;
    border-right: none;
}

.PSLEVEL2GRIDROW {
    border: none;
    background: #fff;
    color: #000 !important;
    padding: 10px 15px;
}

.PSLONGEDITBOX {
    overflow-y: hidden !important;
}