.ps_pagecontainer {
    padding-top: 20px;
}

.PSPAGECONTAINER {
    width: 100%;
    position: relative;
}

td {
    vertical-align: middle;
    padding: 0;
}

td:empty {
    display: none;
}

div[id="win0divPERSONAL_DTSAVW_EMPLIDlbl"],
div[id="win0divPERSONAL_DTSAVW_EMPLID"] {
    display: none;
}

.PSLEVEL1GRIDNBO {
    width: 100%;
    margin-bottom: 10px;
    border-right: 1px solid #e5e5e5;
}

th.PAGRIDHEADER {
    background: #2b2c36;
    color: #fff;
    padding: 10px 15px;
    border: none;
    vertical-align: middle;
}

a.PAGRIDHEADER {
    display: block;
    background: none !important;
    color: #fff !important;
}

.PSLEVEL1GRIDODDROW, .PSLEVEL1GRIDEVENROW {
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.PSLEVEL1GRIDODDROW .PSHYPERLINK, .PSLEVEL1GRIDEVENROW .PSHYPERLINK {
    color: #ff2b5a;
}

.PSFRAMEWBO {
    width: 100%;
}

.PSFRAME td {
    padding: 5px;
}

.PABACKGROUNDINVISIBLEWBO, .PABACKGROUNDINVISIBLEWBO table {
    width: 100%;
}